.Card
   max-width: 320px
   max-height: 135px
   .year
      font-size: 25px
      color: #3877EE      
      font-weight: bold
   .text
      color: #42567A
      font-size: 20px
// @media (max-height: 800px)
//    .Card
//       max-width: 320px
//       max-height: 135px
//       .year
//          font-size: 16px
//          color: #3877EE      
//          font-weight: bold
//       .text
//          font-size: 14px
//          color: #42567A