.Year
   position: absolute
   top: 50%
   transform: translateY(-50%)  
   width: 100%
   display: flex
   justify-content: center
   align-items: center
   text-align: center
   gap: 100px
   font-weight: bold
   font-size: 200px
   .start
      color: #5D5FEF
   .end
      color: #EF5DA8
@media (max-width: 1600px)
   .Year
      gap: 50px
      font-size: 100px
@media (max-height: 800px)
   .Year
      position: static
      transform: none
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      gap: 100px
      font-weight: bold
      font-size: 80px